{% extends 'students/base.html' %}
{% block title %}Join Meeting{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center mt-5">Join Meeting</h1>
    <form method="POST" action="{% url 'students:join' %}" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="Room ID:" class="form-control" id="roomID" name="roomID" required>
        </div>
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="text-white-50 icon"><i class="fas fa-video"></i></span>
            <span class="text-white text">Join</span>
        </button>
    </form>
</div>
{% endblock %}
